{% extends 'base.html' %}
{#{% load pagetag %}#}
{% block title %}
    首页--YangXiaoDi's Blog
{% endblock %}
{% block page-content %}

    <div class="row">
        <div class="col s12 m2 l2">
            <ul class="collapsible hoverable" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active">文章分类
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            {% for category in articlecategory.distinct %}
                                <li class="collection-item">{{ category.name }} ({{ category.article_set.count }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="collapsible hoverable" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header active">阅读排行
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            {% for articleviewrank in articleviewranks %}
                                <li class="collection-item">
                                    <a href="{% url "articledetail" articleviewrank.id %}">{{ articleviewrank.title }}({{ articleviewrank.views }})</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="collapsible hoverable" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">推荐文章
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="collection-item">白菜</li>
                            <li class="collection-item">青菜</li>
                            <li class="collection-item">萝卜</li>
                            <li class="collection-item">土豆</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="collapsible hoverable" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">最新评论
                    </div>
                    <div class="collapsible-body">
                        <ul class="collection">
                            <li class="collection-item">白菜</li>
                            <li class="collection-item">青菜</li>
                            <li class="collection-item">萝卜</li>
                            <li class="collection-item">土豆</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m8 l8">
            {% for x in articles %}
                <div class="col s12">
                    <div class="card blue-grey darken-1 hoverable">
                        <div class="card-content white-text">
                            <span class="card-title">{{ x.title }}</span>
                            <p class="truncate">{{ x.excerpt }}</p>
                            {#                    <p>{{ x.body|safe }}</p>#}
                        </div>
                        <div class="card-action">
                            <a href="{% url 'articledetail' x.id %}">阅读全文</a>
                            <a href="#">{{ x.modified_time|date:"Y-m-d H:i" }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {#        分页组件#}
            <ul class="pagination">
                {#            如果有前一页#}
                {% if not articles.has_previous %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="waves-effect"><a href="?page={{ articles.previous_page_number }}"><i
                            class="material-icons">chevron_left</i></a>
                    </li>
                {% endif %}
                {% for page in articles.paginator.page_range %}
                    {% if articles.number == page %}
                        <li class="active"><a href="?page={{ articles.number }}">{{ page }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                {#            如果有后一页#}
                {% if articles.has_next %}
                    <li class="waves-effect"><a href="?page={{ articles.next_page_number }}"><i class="material-icons">chevron_right</i></a>
                    </li>
                {% else %}
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m2 l2"></div>
    </div>
{% endblock %}